*.pdf
*.zip

*.ipynb

*__pycache__*

data/new_*
data/two_characters/
saved_models/
checkpoints/*/
augmentation/frost/
augmentation/images/

predictions/
scripts/*.sh

models/timm/
deep-text-recognition-benchmark/