*.pdf
*.zip

*.ipynb

*__pycache__*

data/new_*
data/false_predictions
data/two_characters/
data/super_resolution_val/
data/val_set/
data/synthesis/
data/images/
data/synthesis_2/

saved_models/*.pt
ensemble/val/*.csv
ensemble/test/*.csv
ensemble/private_test/*.csv
ensemble/*.txt
ensemble/*.csv
checkpoints/*/

augmentation/frost/
augmentation/images/

scrabble-gan/

predictions/*.csv

deep-text-recognition-benchmark/



steel_ocr-main/

docs/