*.pdf
*.zip

playground.ipynb
error_analysis.ipynb
submission.ipynb

*__pycache__*

data/new_*
saved_models/
checkpoints/*/
augmentation/frost/
augmentation/images/

predictions/
scripts/*.sh

models/timm/
deep-text-recognition-benchmark/